.container_titre_plan {
    position: relative;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 3%;
    height: auto;
    width: 100%;
}
.container_titre_plan h1 {
    color: white;
    font-size: 70px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    z-index: 1000;

}
.planning {
    background-image: url("../image/planning.webp");
    background-size: cover;

}

.auto-typing {
text-shadow: 10px 10px 30px white;
} 

.navbar {
    background: linear-gradient(to right, #e26732, #61e23d);
}

.nav-link, .navbar-brand {
    color: white;
    font-size: 120%;
    font-weight:bolder;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #1d3d9c;
}

.navbar-collapse {  
    justify-content: flex-end;
}


.sem {
    text-align: center;
    padding: 3vh;
    color: white;
    font-weight: bolder;
}

#container {
    width: 80%;
    height: 100%;
    margin: auto;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    text-align: center;
}

#gameGrid {
    width: 480px;
    height: 480px;
    margin-top: 3%;
    margin: auto;
}

#gameInfo{
    width: 480px;
    height: 150px;
    margin: auto;
    background-color: #666699;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 2%;
}

.case{
    width: 90px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    color: white;
}

.green{
    /*background-color: #55cc55;*/
    background-color:#702c67;
    opacity: 0.9;
}

.green:hover{
    opacity: 0.4;
}

.red{
    background-color: #cc5555;

}

.blue{
    background-color: #5555cc;

}

#info {
    margin-top:3% ;
    font-size: 25px;
    height: 30px;
    background-color: #aaccbb;
    text-align: center;
    border-radius: 5px;
}

#score{
    margin-top: 3%;
    font-size: 25px;
    color: white;
    text-align: center;
}

#reset{
    height: 40px;
    width: 250px;
    background-color: #aabbaa;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 3%;
    margin: auto;
    display: block;
}

.style_colonne{
    display: flex;
}